<div class="input-group dd-datepicker">

    <input class="form-control display-input datepicker-input"
           type="text"
           placeholder="{{placeholder}}"
           ng-class="{'short': useShortDateFormat}"
           ng-disabled="ngDisabled"
           ng-required="ngRequired"
           ng-model="displayModel" />
           
    <div class="input-group-btn">
        <div type="text"
           class="datepicker-input" 
           uib-datepicker-popup="{{dateFormat}}"
           ng-model="bootstrapDateModel"
           is-open="calendarOpened"
           date-disabled="dateDisabled({date: date, mode: mode})"
           datepicker-options="dateOptions"
           close-text="Close"
           popup-placement="{{popupPlacement}}"
           show-weeks="showWeeks"></div>
        <button ng-disabled="ngDisabled" 
                type="button" 
                class="btn btn-default open-calendar-btn" 
                ng-click="openCalendar($event)"
                ng-class="{'calendar-btn-with-day':showDayName}">
                <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </div>
    
    <div ng-if="showDayName" class="input-group-addon day-name-label">{{dayName}}</span>

</div>
