/* Include this file in your html if you are using the CSP mode. */

.be-container {
    position: absolute;
    z-index: 1;
}

.be-overlay {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.be-overlay.success {
    background-color: rgba(0, 128, 0, 0.15);
}

.be-overlay.fail {
    background-color: rgba(128, 0, 0, 0.15);
}

.be-animate {
    -webkit-transition:opacity 0.5s;
    transition:opacity 0.5s;
    opacity:1;
}

.be-animate.ng-hide-add, .be-animate.ng-hide-remove {
    display: block !important;
}
.be-animate.ng-hide {
    opacity:0;
}
 .dd-datepicker .calendar-btn-with-day {
        border-radius: 0;
        border-left: 0;
    }
    .dd-datepicker .day-name-label {
        width: 90px !important;
        font-size: 12px;
    }
    
.dd-datepicker input.short {
    width: 70px;
}
.dd-datepicker input {
    width: 105px;
}
.dd-datetimepicker {
    display: inline-flex;
}
.dd-datetimepicker .timepicker-container {
    width: 100px !important;
}

.dd-datetimepicker .timepicker-container input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

.dd-datetimepicker .datepicker-container input.short {
    width: 70px !important;
}
.dd-datetimepicker .datepicker-container input {
    width: 105px !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.has-error .dd-datetimepicker .calendar-btn-with-day {
    border-color: #a94442;
}
.lookup-container .input-group {
  width: 100%;
}
.lookup-container .dropdown-menu {
  border: 1px solid #ccc !important; 
  border-top: none !important; 
  font-size: 11px; 
  padding: 1px !important; 
  max-height: 196px; 
  overflow-y: scroll; 
  overflow-x: hidden; 
  width: 100%;
}
.lookup-container input {
  background-color: #ffe;
}
.lookup-container .dropdown-menu > li > a {
  padding: 5px;
}
.lookup-container .lookup-legend div, .lookup-clear div {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.lookup-container a.lookup-clear {
  outline: 0
}
.lookup-container .lookup-no-results {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  padding: 4px;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 1px;
  top: 100%;
}
.lookup-container .lookup-no-results span {
  color: #a94442;
  font-size: 10px;
}
.lookup-container .lookup-legend .lookup-icon {
  background-image: url(./assets/img/magnifier-small.png);
}
.lookup-container .lookup-legend .spinner-icon {
  background-image: url(./assets/img/spinner.gif);
  background-size: 16px;
}
.lookup-container .lookup-clear .clear-icon {
  background-image: url(./assets/img/cross-small-white.png); 
  opacity: 0.6;
}
.lookup-container .lookup-legend {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 5;
}
.lookup-container .lookup-clear {
  position: absolute;
  right: 22px;
  top: 6px;
  z-index: 5;
}