.dd-table > thead:first-child > tr:first-child > th, .dd-table > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px !important;
}
.dd-table > thead > tr > th.checkbox-row {
    width: 50px;
}
.dd-table > tbody > tr.active:hover > td {
    background-color: #f5f5f5;
}
.dd-table thead .rows-count {
    font-size: 11px;
    color: #aaa;
    font-weight: normal;
}
.dd-table > tbody > tr > td {
    background: #fff;
}
.dd-table > tbody > tr:hover {
    background-color:#fff;
}
.dd-pagination {
    margin-top: 0px !important;
}