<div class="lookup-container" ng-cloak>
  <div class="input-group">
    <input type="text"
           ng-model="ngModel"
           autocomplete="off"
           uib-typeahead="d as getLabel(d) for d in getItems($viewValue)"
           typeahead-on-select="onSelect($item, $model, $label)"
           typeahead-editable="false"
           typeahead-no-results="noResults"
           typeahead-template-url="template/lookup/lookup-item.html"
           typeahead-wait-ms="500"
           ng-disabled="ngDisabled"
           placeholder="{{placeholder}}"
           class="form-control" />
    <span class="lookup-legend">
      <div class="lookup-icon" ng-show="!isBusy"></div>
      <div class="spinner-icon" ng-show="isBusy"></div>
    </span>
    <a class="lookup-clear" ng-click="clear()" tabindex="-1" ng-class="{ 'disabled' : ngDisabled }">
      <div class="clear-icon" tooltip="Clear" tooltip-append-to-body="true"></div>
    </a>
    <div ng-show="noResults" class="lookup-no-results">
      <span class="detail"><i class="glyphicon glyphicon-remove"></i> No results found</span>
    </div>
  </div>
</div>
