 .filter-tags {
        margin-top: 15px;
        margin-bottom: 15px;
    }

   
    .filter-tags .btn-group {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .filter-tags .btn-group .btn:first-child {
        margin-right: 3px;
    }