<div class="form-inline">
	<div class="form-group timepicker-container">
         <input class="form-control timepicker-input"  style="width:100px" 
                dd-timepicker
                is-date-type="true"
                type="text"
                ng-change="timeChange()"
                ng-disabled="ngDisabled"
                minute-step="minuteStep"
                ng-model="time" />
	</div>
	<div class="form-group datepicker-container">
        <input type="text" 
               dd-datepicker
               ng-disabled="ngDisabled"
               date-format="{{dateFormat}}"
               ng-model="ngModel"
               ng-change="dateChange($event)"
               show-weeks="showWeeks"
               close-text="Close"
               date-disabled="dateDisabled({date: date, mode: mode})" />
           
	</div>
</div>