<div class="dd-datetimepicker">
	<div class="input-group timepicker-container">
         <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
         <input class="form-control timepicker-input" 
                dd-timepicker
                is-date-type="true"
                type="text"
                ng-change="timeChange()"
                ng-disabled="ngDisabled"
                ng-required="ngRequired"
                minute-step="minuteStep"
                ng-model="time" />
	</div>
	<div class="input-group datepicker-container">
        <input type="text" 
               dd-datepicker
               ng-disabled="ngDisabled"
               ng-required="ngRequired"
               date-format="{{::dateFormat}}"
               ng-model="ngModel"
               ng-change="dateChange($event)"
               show-day-name="showDayName"
               close-text="Close"
               date-disabled="dateDisabled({date: date, mode: mode})" />
	</div>
</div>