<div class="form-inline">
	<div class="form-group timepicker-container">
		<div uib-timepicker
			ng-model="time"
			ng-disabled="ngDisabled"
			show-meridian="showMeridian"
			minute-step="minuteStep"
			ng-change="timeChange()"
			show-spinners="showSpinners">
		</div>
	</div>
	<div class="form-group datepicker-container">
		<input class="form-control datepicker-input" type="text" style="width: 100px"
				uib-datepicker-popup
				ng-click="open($event)"
				ng-change="dateChange($event)"
				is-open="opened"
				ng-model="ngModel"
				ng-disabled="ngDisabled"				
				date-disabled="dateDisabled({date: date, mode: mode})"
				close-text="Close"
				popup-placement="{{popupPlacement}}"
				show-weeks="showWeeks" />
	</div>
</div>