@keyframes formBarMoveIn {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}

@keyframes formBarMoveOut {
    from {
        bottom: 0;
    }
    to {
        bottom: -100px;
    }
}

.fixed-form-actions-bar {
    position: fixed;
    left:0;
    bottom:0;
    background:#eee;
    border-top:1px solid #ddd;
    width:100%;
    padding:10px 5px;
    z-index: 9999;
    animation: formBarMoveIn 0.3s ease-out;
}

.fixed-form-actions-bar.ng-hide {
    animation: formBarMoveOut 0.3s ease-out;
}

.fixed-form-actions-bar button {
    margin-right:10px;
}